@page "/paskyru_sarasas"
<h3>Paskyru Sarasas</h3>

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="paskyru_sarasas/perziura">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Perziura
        </NavLink>
    </li>
</ul>
