@page "/prekiu_sarasas"
<h3>Prekiu Sarasas</h3>

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="prekiu_sarasas/perziura">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Perziura
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="prekiu_sarasas/sutartis">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Prekes sutartis
        </NavLink>
    </li>
</ul>
