@page "/prekiu_valdymas"
<h3>Prekiu Valdymas</h3>

<ul class="nav flex-column">
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="prekiu_valdymas/salinimas">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Salinimas
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="prekiu_valdymas/redagavimas">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Redagavimas
        </NavLink>
    </li>
    <li class="nav-item px-3">
        <NavLink class="nav-link" href="prekiu_valdymas/pridejimas">
            <span class="oi oi-list-rich" aria-hidden="true"></span> Pridejimas
        </NavLink>
    </li>
</ul>
